<div class="container">
  <div class="card form-block">
      <div class="card-header">
          Formularz logowania
      </div>
      <form 
      #f="ngForm" 
      (ngSubmit)="onSubmit(f)">
              <div class="form-group">
                  <label for="email">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                          <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
                      </svg>
                  </label>
                  <input 
                  type="text" 
                  id="email" 
                  name="email"
                  class="form-control"
                  placeholder="Email"
                  ngModel
                  required
                  email
                  #email="ngModel">    
              </div>

              <div 
              class="alert alert-danger"
              *ngIf="!email.valid && email.touched"
              >
              Wprowadź poprawny adres email!
              </div>

              <div class="form-group">
                  <label for="pwd">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                      </svg>
                  </label>
                  <input 
                  type="password" 
                  id="pwd" 
                  name="password"
                  class="form-control"
                  placeholder="Hasło"
                  ngModel
                  required
                  #password="ngModel">    
              </div>

              <div 
              class="alert alert-danger"
              *ngIf="!password.valid && password.touched"
              >
              Wprowadź hasło!
              </div>
              
              <button 
              type="submit"
              class="btn btn-primary"
              [disabled]="!f.valid"
              >Zaloguj</button>
              <span>
                  Nie masz konta?  
                  <a 
                  class="link"
                  routerLink="/registration">Dołącz do nas</a>!
              </span>
      </form>
      <div *ngIf="error" class="http-error alert alert-danger">
          {{error}}
      </div>
  </div>
</div>