<a href="../" class="back">Powrót</a>
<div class="card">
    <div class="card-header">
      <div>
          <h3 class="card-title d-inline">"{{details.name}}"</h3>
      </div>
      <div>
          <!-- <app-star-rating [rating]=details.rating></app-star-rating> -->
      </div>
    </div>
    <div class="card-body descCard">
        <div class="image">
          <img [src]="pictureUrl">
        </div>
        <div class="description">
          {{details.biography}}
        </div>
      </div>
      <div class="file" *ngIf="isLogged">
        <input 
        type="file" 
        placeholder="Wybierz zdjęcie"
        class="form-control"
        accept="image/png, image/jpeg"
        (change)="changeImage($event);"
        >
        <button 
        class="btn btn-success btn-apply"
        (click)="onUpdatePhoto()">
            Zmień zdjęcie
        </button>
      </div>
</div>
<div *ngIf="error">
  {{error}}
</div>
