.back{
    text-decoration: none;
    color:#808b96;
}
.card{
    margin-top: 20px;
    .card-header{
        display: flex;
        justify-content: space-between;
    } 
    .descCard{
        display: flex;
        .image img{
            height: 300px;
        }
        .description{
            margin: 0 20px;
        }  
    }  
    .file{
        width: 90%;
        margin: 0 auto;
        *{
            width: 100%;
            margin: 5px 0px;
        }
    }
}