.card{
    width: 600px;
    min-width: 400px;
    margin: 5px auto;
    .content{
        width:100%;
        display:flex;
        justify-content: space-between;
        div{
            width: fit-content;
            button{
                width:80px;
            }
        }
        .text{
            padding: 0 10px;
        }
        .nr{
            margin: 0;
            padding:3px 12px;
            width: 35px;
            background-color: var(--bs-primary-bg-subtle);
        }
    }
    
}