h2{
    text-align: center;
    margin: 20px;
}
.alert{
    width: 650px;
    margin: 10px auto;
}
.card-ext{
    width: 650px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: var(--bs-light);
    hr{
        width: 650px;
        margin: 10px auto;
    }
    .card-int{
        width: 600px;
        margin: 5px auto;
        *{
            margin: 5px;
        }
        .content{
            width:100%;
            display:flex;
            justify-content: space-between;
            div{
                width: fit-content;
                
            }
            .text{
                flex-grow: 1;
                input{
                    width: 290px;
                }
                label{
                    padding-left: 5px;;
                }
            }
            .area-biography{
                width:300px;
                position: relative;
                right: 10px;
            }
        }
        button{
            width:570px;
            margin:15px 10px;
        }    
    }
}
