.back{
    text-decoration: none;
    color:#808b96;
}
.card{
    margin-top: 20px;
    .card-header{
        display: flex;
        justify-content: space-between;
    }
.review{
    margin-bottom: 0px;
    padding-top: 10px;
}    
}