<div class="container-fluid">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']">Recenzje</a>
    <form class="form">
      <button *ngIf="!isLogged" class="btn btn-light me-2 my-sm-0" type="button" [routerLink]="['/sign-in']">Zaloguj</button>
      <button *ngIf="!isLogged" class="btn btn-light me-2 my-sm-0" type="button" [routerLink]="['/sign-on']">Zarejestruj</button>
    </form>
    <div class="create-buttons" *ngIf="isLogged">
      <button  class="btn btn-outline-primary me-2 my-sm-0" type="button" [routerLink]="['/books']">Książki</button>
      <button  class="btn btn-outline-primary me-2 my-sm-0" type="button" [routerLink]="['/authors']">Autorzy</button>
      <button  class="btn btn-outline-primary me-2 my-sm-0" type="button" [routerLink]="['/genres']">Gatunki</button>
  </div>
    <span *ngIf="isLogged" class="p-2">{{email}}</span>
    
  </nav>
  <hr>
  <div class="album">
    <router-outlet/>
</div>
