<div class="card my-3 outercard">
    <div class="card-body">
      
      <span class="card-text">
        <h3 class="card-title d-inline p-2">{{bookDetails.title}}</h3>
      </span>
      <h6 class="card-text p-2">
        {{bookDetails.authorName}}
        <small class="text-muted d-inline p-2">{{bookDetails.genreName}}</small>
      </h6>
      
      <div class="image">
        <img [src]="pictureUrl">
      </div>
      <div class="more-line">
            <a [routerLink]="['/details', bookDetails.id]" class="btn btn-outline-secondary btn-sm">Zobacz</a>
      </div>
    </div>
</div>
