<div class="list-container">
    <!-- <div class="input-group">
        <input type="text" class="form-control" aria-label="Wyszukiwanie" placeholder="Wprowadź autora lub nazwę książki">
        <div class="input-group-append">
          <button class="input-group-text btn btn-outline-secondary">Wyszukaj</button>
        </div>
    </div> -->
    <div class="list" *ngFor="let book of books">
        <app-recension-item [bookDetails]="book"></app-recension-item>
    </div>
</div>
<nav aria-label="Nawigacja">
    <ul class="pagination justify-content-center">
      <li class="page-item" (click)="changePage(1)"><a class="page-link" [ngClass]="{'link-primary link-offset-2': activePage === 1}">1</a></li>
      <li class="page-item" (click)="changePage(2)"><a class="page-link" [ngClass]="{'link-primary link-offset-2': activePage === 2}">2</a></li>
      <li class="page-item" (click)="changePage(3)"><a class="page-link" [ngClass]="{'link-primary link-offset-2': activePage === 3}">3</a></li>
      <li></li>
    </ul>
  </nav>
  <div class="pageSize">
    <input type="number" min="1" max="9" step="1" value="1" name="pageSize" [(ngModel)]="pageSize" #ctrl="ngModel" (change)="changePageSize()">
  </div>
