.list-container{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 20px;
    
    
    .list{
        margin:1rem;
    }
    
}
a.page-link{
    color: #000;
}
.pageSize{
    width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    input{
        width: 60px;
        height: 42px;
        line-height: 1.65;
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        padding-left: 20px;
        border: 1px solid #eee;
    }
    input:focus {
        outline: 0;
      }
}